MYSQL_DATABASE_NAME = "e_commerce"
MYSQL_USERNAME = "your_mysql_username"
MYSQL_PASSWORD = "your_mysql_password"
MYSQL_HOST = "localhost"
MYSQL_PORT = 3306
PORT = 8080
GOOGLE_CLIENT_ID = "your_google_client_id"
GOOGLE_CLIENT_SECRET = "your_google_client_secret"
ACCESS_TOKEN_SECRET = "your_access_token_secret"
REFRESH_TOKEN_SECRET = "your_refresh_token_secret"
SESSION_SECRET = "your_session_secret"
ACCESS_TOKEN_EXPIRE = "15m"
REFRESH_TOKEN_EXPIRE = "7d"
COOKIE_EXPIRE = 10800000
